In [1]:
## Importing dependencies and libraries required

import pandas as pd

In [2]:
## Importing Required DataSets of Anime and the ratings of previously watched audience
## Merging on the basis of 'MAL_id' and dropping unneeded data for collaborative filtering

ratings = pd.read_csv('rating_complete.csv')
details = pd.read_csv('anime_with_synopsis.csv')
complete_ds = pd.merge(details,ratings)
anime_cf_ds = pd.merge(details,ratings).drop({'Score','Genres','sypnopsis'},axis=1)
complete_ds.head()

,MAL_ID,Name,Score,Genres,sypnopsis,user_id,rating
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",3,9
1,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",6,6
2,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",14,9
3,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",19,8
4,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever...",22,9

In [3]:
details.head()

,MAL_ID,Name,Score,Genres,sypnopsis
0,1,Cowboy Bebop,8.78,"Action, Adventure, Comedy, Drama, Sci-Fi, Space","In the year 2071, humanity has colonized sever..."
1,5,Cowboy Bebop: Tengoku no Tobira,8.39,"Action, Drama, Mystery, Sci-Fi, Space","other day, another bounty—such is the life of ..."
2,6,Trigun,8.24,"Action, Sci-Fi, Adventure, Comedy, Drama, Shounen","Vash the Stampede is the man with a $$60,000,0..."
3,7,Witch Hunter Robin,7.27,"Action, Mystery, Police, Supernatural, Drama, ...",ches are individuals with special powers like ...
4,8,Bouken Ou Beet,6.98,"Adventure, Fantasy, Shounen, Supernatural",It is the dark century and the people are suff...

In [4]:
##Required dataset to perform Item-Item Collaborative filtering

anime_cf_ds.head()

   MAL_ID          Name  user_id  rating
0       1  Cowboy Bebop        3       9
1       1  Cowboy Bebop        6       6
2       1  Cowboy Bebop       14       9
3       1  Cowboy Bebop       19       8
4       1  Cowboy Bebop       22       9

In [5]:
## Depicting rating of all users for all anime 

user_ratings = anime_cf_ds.pivot_table(index=['user_id'],columns=['Name'],values='rating')
user_ratings.head()

Name,"""0""","""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokubatta Inu","""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi","""Bungaku Shoujo"" Memoire","""Bungaku Shoujo"" Movie","""Calpis"" Hakkou Monogatari","""Eiji""","""Eiyuu"" Kaitai","""Kiss Dekiru Gyoza"" x Mameshiba Movie","""Parade"" de Satie",...,s.CRY.ed Alteration I: Tao,s.CRY.ed Alteration II: Quan,the FLY BanD!,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,ēlDLIVE,◯
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,8.0,9.0,NaN,NaN,8.0,NaN,NaN

In [6]:
## Dropping all the anime which have less than 10 viewers and by putting unseens rating as 0

user_ratings = user_ratings.dropna(thresh=20,axis=1).fillna(0)

In [7]:
user_ratings.head()

Name,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi","""Bungaku Shoujo"" Memoire","""Bungaku Shoujo"" Movie",.hack//G.U. Returner,.hack//G.U. Trilogy,.hack//G.U. Trilogy: Parody Mode,.hack//Gift,.hack//Intermezzo,.hack//Liminality,.hack//Quantum,...,ef: A Tale of Memories. - Recollections,iDOLM@STER Xenoglossia,number24,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei,xxxHOLiC Movie: Manatsu no Yoru no Yume,xxxHOLiC Rou,xxxHOLiC Shunmuki,ēlDLIVE
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,8.0,9.0,0.0,0.0,8.0,0.0

In [ ]:
## Building recommendation on pearson model, to give optimum execution time is to efficiency ratio in comparison to other models

item_similarity_df = user_ratings.corr(method='pearson')
item_similarity_df.head(50)

In [ ]:
## Declaring function to recommend anime based on data recieved using pearson model

def get_similar_anime(Name,user_ratings):
    similar_score = item_similarity_df[Name]*(user_ratings-5)
    similar_score = similar_score.sort_values(ascending=False)
    
    return similar_score

In [ ]:
## Taking user input by providing his/her ratings on already watched anime

anime_lover = [("Naruto",8),("Hyouka",10),("Fruits Basket",8),("Durarara!!",7)]
similar_anime = pd.DataFrame()
for anime,rating in anime_lover:
    similar_anime = similar_anime.append(get_similar_anime(anime,rating),ignore_index = True)

similar_anime.head(10)

In [ ]:
## Recommending anime in descending order

similar_anime.sum().sort_values(ascending=False).head(20)

In [ ]:
recomend_anime = similar_anime.sum().sort_values(ascending=False)
recomend_anime.head(20)

In [ ]:
## Importing Pickle library for transporting processed dataset to local system in .pkl format

import pickle

In [ ]:
## Transporting new_movie_Df as movies.pkl to local folder

pickle.dump(complete_ds,open('details.pkl','wb'))

In [ ]:
complete_ds['Name'].values

In [ ]:
pickle.dump(details.to_dict(),open('details_dict.pkl','wb'))

In [ ]:
pickle.dump(item_similarity_df,open('anime_item_similarity.pkl','wb'))

In [ ]:
details['Name'].values